@font-face {
  font-family: circular-black;
  src: url("text-black.ttf");
}

@font-face {
  font-family: circular-medium;
  src: url("text-medium.ttf");
}

@font-face {
  font-family: circular-light;
  src: url("text-light.ttf");
}

.heading-text{
  font-family: circular-black;
}

.text{
  font-family: circular-medium;
}
